[Desktop Entry]
Name=cglpsdl1-duk
Comment=Crisp Games Library Portable (Duktape Version)
Terminal=false
Type=Application
Exec=cglpsdl1 -f
Icon=cglpsdl1
Categories=games
